@tailwind base;
@tailwind components;
@tailwind utilities;

/* For modern browsers */
html {
  scrollbar-width: thin;
  scrollbar-color: #333333 #0a0a0a; /* thumb-color track-color */
}

/* Custom Dark Scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* premium-dark */
}

::-webkit-scrollbar-thumb {
  background: #333333; /* premium-medium-gray */
  border-radius: 4px;
  border: 2px solid #0a0a0a; /* premium-dark */
}

::-webkit-scrollbar-thumb:hover {
  background: #FFD700; /* premium-gold */
}
